<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Добавить товар</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <style>
        a{
            color: white;
        }
        a:hover {
            color: white;
            text-decoration: none;
        }
    </style>

</head>
<body>

<div class="container mt-5 mb-5">
    <h1>Добавление продукта</h1>
    <form action="/addProduct" method="post">
        <input type="text" name="title" placeholder="Введите название продукта" class="form-control"><br>
        <input type="text" name="price" placeholder="Введите цену продукта" class="form-control"><br>
        <button type="submit" class="btn btn-primary btn-block">Добавить продукт</button>
    </form>
</div>
</body>
</html>