<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Редактирование товара</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <style>
        a{
            color: white;
        }
        a:hover {
            color: white;
            text-decoration: none;
        }
    </style>

</head>
<body>

<div class="container mt-5 mb-5">
    <h1>Редактирование продукта</h1>
    <div th:each="element : ${product}">
        <form method="post">
            <input type="text" th:value="${element.title}" name = "title" placeholder="Введите новое название продукта" class="form-control"><br>
            <input type="text" th:value="${element.price}" name="price" placeholder="Введите новую цену продукта" class="form-control"><br>
            <button type="submit" class="btn btn-primary btn-block">Редактировать продукт</button>
        </form>
    </div>
</div>
</body>
</html>